@import "tailwindcss";
@import "../tailwind-utils.css";

@layer components {
    #hero {
        @apply relative z-10 min-h-dvh w-full border border-transparent;

        h1 {
            @apply md:mt-52 mt-48 mx-auto w-full max-w-[96vw] px-4 text-center font-modern-negra leading-[0.95] text-[clamp(3rem,13vw,12rem)];
        }

        .left-leaf {
            @apply absolute md:top-20 xl:top-36 2xl:top-52 md:bottom-auto -bottom-20 w-[80px] h-[80px] md:w-[200px] md:h-[200px] lg:w-[300px] lg:h-[300px] object-contain;
            left: clamp(-70px, -6vw, -20px);
        }

        .right-leaf {
            @apply absolute md:bottom-0 xl:top-0 2xl:top-12 top-1/2 w-[80px] h-[80px] md:w-[200px] md:h-[200px] lg:w-[300px] lg:h-[300px] object-contain;
            right: clamp(-80px, -7vw, -20px);
        }

        .body {
            @apply container mx-auto absolute left-1/2 -translate-x-1/2 lg:bottom-20 top-auto md:top-[38vh] flex justify-between items-end px-5;

            .content {
                @apply flex lg:flex-row flex-col w-full gap-10 justify-between items-center lg:items-end mx-auto;

                p:nth-of-type(2) {
                    @apply font-modern-negra text-6xl text-yellow-500 max-w-xl;
                }

                p:last-of-type {
                    @apply 2xl:text-start text-center;
                }

                .view-cocktails {
                    @apply space-y-5 text-lg lg:max-w-2xs md:max-w-xs w-full;

                    p {
                        @apply text-left;
                    }

                    a {
                        @apply font-semibold opacity-80 2xl:text-start text-center hover:text-yellow-500;
                    }
                }
            }
        }
    }

    video {
        @apply w-full md:h-[80%] h-1/2 absolute bottom-0 left-0 md:object-contain object-bottom object-cover;
    }
}
